:root {
  --background-light-color: #f8ede3;
  --background-dark-color: #1e212d;
  --accent-peach-color: #eabf9f;
  --accent-brown-color: #b68973;
  --accent-gold-color: #fdc57b;
  --accent-plum-color: #987788;
  --accent-mint-color: #6d9886;
  --font-dark-color: #1e212d;
  --font-light-color: #faf3e0;
  --heading-font: "Prata", serif;
  --body-font: "Raleway", sans-serif;
  --text-shadow: 0px 0px 10px rgba(30, 33, 45, 1),
    0px 0px 15px rgba(30, 33, 45, 1), 0px 0px 20px rgba(30, 33, 45, 1);
}
body.index-bg {
  background-position-y: 50px;
  background-image: url("/photos/pisa-archway-view-transparent.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--background-dark-color);
  display: block;
  margin: 0 auto;
  color: var(--font-light-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
body.coding-bg,
body.construction-bg,
body.about-bg {
  background-color: var(--background-light-color);
  display: block;
  margin: 0 auto;
  color: var(--font-dark-color);
  text-align: center;
}

h1 {
  font-family: var(--heading-font);
  text-shadow: var(--text-shadow);
  color: var(--accent-brown-color);
  font-weight: bold;
}
h1.coding-header,
h1.about-header,
h1.construction-header {
  margin: 100px auto 40px;
  color: var(--accent-plum-color);
  text-shadow: none;
}
h2 {
  font-family: var(--heading-font);
  text-shadow: var(--text-shadow);
  color: var(--accent-brown-color);
  font-weight: bold;
}
h2.workshop-title {
  color: var(--accent-plum-color);
  text-shadow: none;
  text-decoration: underline;
}
h3 {
  margin: 20px auto;
  font-family: var(--heading-font);
  text-shadow: var(--text-shadow);
  color: var(--accent-peach-color);
}
h4 {
  font-family: var(--body-font);
  color: var(--font-dark-color);
  font-size: 22px;
}
p {
  font-family: var(--body-font);
  margin-top: 50px;
}
p.index-about {
  max-width: 500px;
  line-height: 1.5;
  display: block;
  margin: 20px auto;
  color: var(--font-light-color);
}
p.coding-summary {
  max-width: 800px;
  line-height: 1.5;
  display: block;
  margin: 70px auto;
  color: var(--font-dark-color);
}
a.shecodes-link {
  color: var(--font-dark-color);
}
img.coding-project-image {
  border-radius: 15px;
  height: 200px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
img.coding-project-image:hover {
  cursor: pointer;
}
footer {
  margin-bottom: 50px;
}
.navbar {
  background-color: #ae9a8c;
  font-family: var(--heading-font);
}
.container {
  max-width: 800px;
}
.container-coding {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}
.index-header {
  margin-top: 250px;
}
.grid {
  border: 2px solid var(--accent-brown-color);
  border-radius: 100px;
  max-width: 600px;
  margin: 40px auto;
}
.grid-box {
  display: block;
  margin: 40px 0;
}
.grid-link {
  font-size: 28px;
  font-family: var(--heading-font);
  text-decoration: none;
  color: var(--font-light-color);
  margin: 15px auto;
}
.grid-link:hover {
  color: var(--accent-peach-color);
  font-size: 30px;
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}
.icon-index {
  padding: 10px;
  margin: 30px auto;
  color: var(--accent-brown-color);
}
.icon-subpage {
  padding: 10px;
  margin: 30px auto;
  color: var(--accent-plum-color);
}
@media (max-width: 400) {
  .index-header {
    margin-top: 50px;
  }
  .index-about {
    margin-top: none;
  }
}
